<!-- modal to input Notes for a scraped and saved Article -->
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="notesModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="notesModalTitle"><!-- Populated by js --></h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
        <div>
          <ul class="allNotes">
            <!-- Populated by js -->
          </ul>
        </div>
         <hr>
         <textarea rows="6" cols="50" id="notesText">Add new note here</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" id="notesModalSaveButton" data-dismiss="modal">Save Note</button>
        </div>
      </div>

    </div>
  </div>

</div>


<!-- end modal -->
