<!-- modal to input Notes for a scraped and saved Article -->
<div class="container">

  <!-- Modal -->
  <div class="modal fade" id="notesModal{{_id}}" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{title}}</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
         {{> savednotes}}
         <hr>
         <textarea rows="6" cols="50" id="notesText{{_id}}">Add new note here</textarea>
        </div>
        <div class="modal-footer">
          <button type="button" onclick="saveNote('{{_id}}')" class="btn btn-default" data-dismiss="modal">Save Note</button>
        </div>
      </div>

    </div>
  </div>

</div>


<!-- end modal -->
