<div>
  <ul>
      <li class="allnotes">
          <span class="savednote">
            This text should come from db.notes.find();
            <button class="deletenote">delete</button>
          </span>
      </li>
  </ul>
</div>
