<!-- top navigation bar -->
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Nutriton Scraper</a>
  <a href="/scrape">Scrape Articles</a>
  <a href="/saved">Saved Articles</a>
  <a href="/search">Search Saved Articles</a>
  <a href="/clear">Clear Database</a>
  <a href="/about">About Nutrition Scraper</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
