<!-- top navigation bar -->
<div class="topnav" id="myTopnav">
  <a href="/" class="active">Nutriton Scraper</a>
  <a href="/scrape">Scrape Articles</a>
  <a href="/articles">Saved Articles</a>
  <a href="/about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
