{{> top-nav}}


<!-- below top navigation -->
<div class="container-fluid">
   <!-- main content area -->
   <div class="col-10" id="main-content-area" style="visibility: visible">
      <div class="row">
         <div class="card" id="directions">
            <div class="card-header text-primary">
               <h5>Nutrition Scraper Directions</h5>
            </div>
            <ul class="card-text">
               <li>
                  Click "Scrape" Articles" menu option to populate database with nutrition articles.
                  You can save articles, add notes or delete articles from this list.

               </li>
               <li>
                  To view and manage only your saved articles, click "Saved Articles" menu option.
               </li>
               <li>
                  To search for an article by word, click "Search Saved Articles" menu option, enter word, click search.
               </li>
               <li>
                  To completely clear the data base, click "Clear Database" option. Caution, this option removes all articles and notes.
               </li>
               <li>
                  Click "Nutrition Scraper" to return to home.
               </li>
            </ul>
            </p>
         </div> <!-- end card -->
      </div> <!-- end row -->
   </div> <!-- end column -->
</div> <!-- end container -->


<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="js/index.js"></script>

