{{> top-nav}}


<!-- below top navigation -->
<div class="container-fluid">
   <!-- main content area -->
   <div class="col-10" id="main-content-area" style="visibility: visible">
      <div class="row">
         <div class="card" id="directions">
            <div class="card-header text-primary">
               <h5>Nutrition Scraper Directions</h5>
            </div>
            <ul class="card-text">
               <li>
                  <b>Scrape Articles:</b> Click "Scrape Articles" menu option to populate database with nutrition articles.
                  Once populated, user may save articles, add notes or delete articles from the list.
               </li>
               <br>
               <li>
                  <b>Saved Articles:</b> Click "Saved Articles" menu option to view/manage ONLY user-saved articles.
               </li>
               <br>
               <li>
                  <b>Search Articles:</b> Click "Search Articles" menu option to search scraped article titles by word.
                  Enter word, click submit button.
               </li>
               <br>
               <li>
                  <b>CAUTION! Clear Database:</b> This option completely clears the data base of all articles and notes.
                  To re-populate the db, user must, click "Scrape Articles" again.
                  To clear all articles and notes, click "Clear Database" option.
               </li>
               <br>
               <li>
                  <b>Nutrition Scraper:</b> Click the green "Nutrition Scraper" menu option to return to home.
               </li>
            </ul>
            </p>
         </div> <!-- end card -->
      </div> <!-- end row -->
   </div> <!-- end column -->
</div> <!-- end container -->


<!-- scripts -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="js/index.js"></script>

